* {
  padding: 0;
  margin: 0;
}

body {
    height: 100%;
    margin: 0;
}

.App {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}
.gray {
  background: gray;
}
.red {
  background: red;
}
.olive {
  background: olive;
}
.blue {
  background: blue;
}
.orange {
  background: orange;
}
.yellow {
  background: yellow;
}

.navigation {
  background: pink;
  color: red;
  float: right;
  height: 100%;
  min-height: 100%;
  font-size: 1.5em;
  padding: 0px 15px 0 25px;
}

